@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: darkgray;
}

.block {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.cat {
  width: 150px;
  height: 165px;
  background-image: url(./cats.jpg);
  --w: 115px;
  --h: 165px;
}

.patt {
  background-image: url(./patts.jpg);
  --w: 0px;
  --h: 97px;
}

.color {
  background-image: url(./colors.jpg);
  --w: 0px;
  --h: 109px;
}

.goal {
  background-image: url(./goals.jpg);
  --w: 0px;
  --h: 109px;
}

.tile {
  width: 100px;
  height: 100px;
}

.item0 {
  --i: 0;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item1 {
  --i: -1;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item2 {
  --i: -2;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item3 {
  --i: -3;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item4 {
  --i: -4;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item5 {
  --i: -5;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item6 {
  --i: -6;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item7 {
  --i: -7;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item8 {
  --i: -8;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

.item9 {
  --i: -9;
  background-position: calc(-1*var(--w)) calc(var(--i)*var(--h));
}

